<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows:</th>
    <th>
      <%= link_to user_followings_path(user) do %>
        <%= user.followings.count %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>followers:</th>
    <th>
      <%= link_to user_followers_path(user) do %>
        <%= user.followers.count %>
      <% end %>
    </th>
  </tr>
</table>
<div class='row'>
  <% unless user.id == current_user.id %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", user_relationships_path(user.id), class:"btn btn-info", method: :delete %>
        <% if (current_user.following?(user)) && (user.following?(current_user))  %>
          <% if @isRoom == true %>
            <%= link_to "chatへ", room_path(@roomId) %>
          <% else %>
            <%= form_with model: @room, local: true do |f| %>
              <%= fields_for @entry do |e| %>
                 <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <%= f.submit "chatを始める"%>
            <% end %>
          <% end %>
        <% end %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), class:"btn btn-success" , method: :post %>
    <% end %>
  <% end %>
</div>
<%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
